@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap');
#name{
    color: white;
    text-align: center;
    /*font-family: 'Leto', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}
#karangg-header{
    color: Black;
    text-align: center;
    /* font-family: 'Leto', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}
body{
    background-image: url(https://images.pexels.com/photos/1340588/pexels-photo-1340588.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}
.nav-bar{
    /*background-color: #2491db;*/
    background-color: #1F2833;
    position: fixed;
    border-width: 0px;
    width: 100%;
    height: 52px;
    top: -1px;
    z-index: 10;
}
.nav-bar a {
    font-size: 16px;
    color: white;
    /*color: white;*/
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
nav{
    /*background-color: #2491db;*/
    background-color: #1F2833;
}
nav ul{
    text-align: center;
}
ul{
    list-style:none;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    /*color: white;*/
    color: #66FCF1;
    font-family: Arial;
    transition: .2s ease-out;
}
nav ul li:hover{
    /*background-color: rgb(255, 123, 0);*/
    background-color: #0b0c10;
}
.underbar-nav{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 0px;
    border: 1px solid #0B0C10;
    z-index: 2000;
}

.main-header{
    width: 99.5%;
    position: absolute;
    top: 100px;

}
.main-header h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 67px;
    color: #1F2833;
    /*text-shadow: 1px 1px rgb(255, 123, 0);*/
}
.scroll{
    position: fixed;
    width: 0px;
    height: 1200px;
    border: 1px solid red;
    overflow: auto;
}

.main-box{
    position: relative;
    display: flex;
    justify-content: center;
}
.content-box{
    width: 1800px;
    height: 700px;
    border-width:5px;
    margin-top: 400px;
    text-align: justify;
    display: flex;
    justify-content: center;
    position: fixed;
    color: white;
}
.socials-image-align{
    text-align: center;
}
.socials-image{
    margin-top: 30px;
    width:200px;
    height: 200px;
    border: 3px solid #247BA0;
    border-radius: 300px;
}
.socials-box{
    position: fixed;
    width: 300px;
    height: 400px;
    background-color: #1F2833;
    margin-left: -125px;
    margin-top: -200px;
    box-shadow: 4px 7px 10px Black;
}
.socials-name{
    width: 300px;
    height: 55px;
    font-size: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 10px;
    vertical-align: center;
}
.socials-icons{
    width: 300px;
    height: 100px;
    text-align: justify;
    justify-content: center;
    border-color: 2px solid green;
    padding-bottom: 0px;
}
#linkedin-image{
    width: 30px;
    height: 30px;
}
#linkedin-background{
    width: 30px;
    height: 30px;
    justify-content: center;
    border: 2px solid #C5C6C7;
    border-radius: 10px;
    background-color: #247BA0;
    position: relative;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 112px;
    top: 16px;
}

#linkedin-background:hover{
    background-color: rgb(36, 123, 160, .65) /*rgb(31, 40, 51, 0.65);*/
}

#facebook-background{
    width: 30px;
    height: 30px;
    justify-content: center;
    border: 2px solid #C5C6C7;
    border-radius: 10px;
    background-color: #247BA0;
    position: relative;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    top:45px;
    left:22px;
}
#facebook-background:hover{
    background-color: rgb(36, 123, 160, .65) /*rgb(31, 40, 51, 0.65);*/
}

#instagram-background{
    width: 30px;
    height: 30px;
    justify-content: center;
    border: 2px solid #C5C6C7;
    border-radius: 10px;
    background-color: #247BA0;
    position: relative;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 204px;
    top: -13px;
}
#instagram-background:hover{
    background-color: rgb(36, 123, 160, .65) /*rgb(31, 40, 51, 0.65);*/
}



.info{
    background-color: #247BA0;
    border: 2px solid #C5C6C7;
    border-radius: 10px;
    width: 800px;
    height: 350px;
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: normal;
    display: inline-block;
    order: 1;
}
.text{
    margin-left: 210px;
    margin-top: 25px;
    border: 2px solid #C5C6C7;
    border-radius: 10px;
    width: 550px;
    height: 300px;
}
.contact-icon-holder{
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
}
.contact-email{
    text-align: center;
}
.contact-email-title{
    font-weight: bold;
}
.contact-phone{
    margin-top: -4px;
    text-align: center;
}
.contact-phone-title{
    margin-top: 5px;
    font-weight: bold;
}
.contact-linkedin{
    margin-top: 6px;
    text-align: center;
}
.contact-linkedin-title{
    margin-top: -5px;
    font-weight: bold;
}
.contact-linkedin a{
    color: white;
    text-decoration: underline;
}
.form-holder{
    order: 2;
}
.info h2{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    color: #1F2833;
    display: inline;
}
.randomTest{
    color: #247BA0;
}
.container{ 
    width: 600px;
    margin-left: 100px;
    border: 2px solid #C5C6C7;
    background-color: #247BA0;
    border-radius: 10px;
}
.container h4{
    content: "\a";
    white-space: pre;
}
.container h5{
    color: #247BA0;
    content: "\a";
    white-space: pre;
}
.contact-main{
    font-size: xx-large;
    text-align: center;
}
#ubuntu-font h6{
    font-family: 'Ubuntu', sans-serif;
}
.col-sm{
    width: 500px;
}
#email::after{
    content: "\a";
    white-space: pre;
}
#number::after{
    content: "\a";
    white-space: pre;
}

.icon-link{
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    bottom: 0px;
    border: 1px solid #C5C6C7;
    border-radius: 5px;
}
.icon-link a{
    color: #1F2833;
}