@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap');
#name{
    color: white;
    text-align: center;
    /*font-family: 'Leto', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}
#karangg-header{
    color: Black;
    text-align: center;
    /* font-family: 'Leto', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}
body{
    background-image: url(https://images.pexels.com/photos/1340588/pexels-photo-1340588.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}
.nav-bar{
    /*background-color: #2491db;*/
    background-color: #1F2833;
    position: fixed;
    border-width: 0px;
    width: 100%;
    height: 74px;
    margin-top: -22px;
    margin-left: -8px;
    z-index: 10;
}
.nav-bar a {
    font-size: 16px;
    color: white;
    /*color: white;*/
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
nav{
    /*background-color: #2491db;*/
    background-color: #1F2833;
}
nav ul{
    text-align: center;
}
ul{
    list-style:none;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    /*color: white;*/
    color: white;
    font-family: Arial;
    transition: .2s ease-out;
}
nav ul li:hover{
    /*background-color: rgb(255, 123, 0);*/
    background-color: #0b0c10;
}
.underbar-nav{
    position: relative;
    top: 53px;
    width: 100%;
    height: 0px;
    border: 1px solid #0B0C10;
    z-index: 2000;
}




.main-box{
    display: block;
    width: 100%;
    position: relative;
    top: 300px;
}
.content-box{
    display: flex;
}
.main-header{
    width: 99.5%;
    position: absolute;
    top: 75px;

}
.main-header h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    color:#1F2833;
    /*text-shadow: 1px 1px rgb(255, 123, 0);*/
}
.left-box{

    width: 100%;
    justify-content: right;
}
.right-box{
    border: 0px;
    width: 100%;
}
.relevant-coursework-box{
    background-color: #247BA0;/*#1D70A2;*/  /* #3083DC*/ /*#247BA0"*/
    border: 2px solid #C5C6C7;
    border-radius: 10px;
    width: 600px;
    height: 330px;
    margin-left: 100px;
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: normal;
}
.relevant-coursework-box h3{
    color: #1F2833;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    line-height: 15px;
}
.relevant-coursework-box hr{
    width: 90%;
    color: #1F2833;

}
.cse li{
    list-style-image: url(https://img.icons8.com/color/20/000000/google-code.png);
    line-height: 20px;
    margin-left: 20px;
}
.ams li{
    list-style-image: url(https://img.icons8.com/metro/16/000000/math.png);
    line-height: 23px;
    margin-left: 20px;
}
.languages li{
    list-style-image: url(https://github.com/ksyadav01/image-holder/blob/main/images/icons8-bug-20-1.png?raw=true);
    line-height: 23px;
    margin-left: 20px;
}
.future-coursework-box{
    background-color: #247BA0;
    border: 2px solid #C5C6C7;
    border-radius: 10px;
    width: 600px;
    height: 250px;
    margin-left: 100px;
    margin-top: 60px;
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: normal;
}
.future-coursework-box h3{
    color: #1F2833;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    line-height: 15px;
}
.future-coursework-box hr{
    width: 90%;
    color: #1F2833;

}

.experience-box{
    background-color: #247BA0;
    border: 2px solid #C5C6C7;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    margin-left: 210px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: normal;
    color: white;
}
.experience-box h3{
    color: #1F2833;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    line-height: 15px;
}
.experience-box hr{
    width: 90%;
    color: #1F2833;

}
.gcom-box{
    width:575px;
    margin-left: 12.5px;
    margin-top: 50px;
    border: 2px solid #1F2833;
    border-radius: 10px;
}
.gcom{
    margin-top: -35px;
    text-align: left;
    padding: 12.5px;
}
.gcom-box h4{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: #0B0C10;
    font-size: 20px;
    line-height: 0px;
    padding: 12.5px;
}
.gcom a{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 0px;
    color: #1F2833;

}

.icon-link{
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    bottom: 0px;
    border: 1px solid #C5C6C7;
    border-radius: 5px;
}
.icon-link a{
    color: #1F2833;
}