@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap');
#name{
    color: white;
    text-align: center;
    /*font-family: 'Leto', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}
#karangg-header{
    color: Black;
    text-align: center;
    /* font-family: 'Leto', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}
.nav-bar{
    background-color: #2491db;
    position: fixed;
    border-width: 0px;
    width: 100%;
    height: 75px;
    margin-top: -22px;
    margin-left: -8px;
    z-index: 10;
}
.nav-bar a {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
nav{
    background-color: #2491db;
}
nav ul{
    text-align: center;
}
ul{
    list-style:none;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    color: white;
    font-family: Arial;
    transition: .2s ease-out;
}
li:hover{
    background-color: rgb(255, 123, 0);
}

/*
.slide-container{
    position: relative;
    display: flex;
    justify-content: center;
    top: 150px;
    widows: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container{
    width: 550px;
    height: 800px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    z-index: 5;
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}
.button-container{
    top: -20px;
    position: relative;
}
.slider-button{
    /*display: inline-block;
    position: relative;
    z-index: 10;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgba(204, 30, 30, 0.671);
}
#slider-image-1:target ~ .image-container{
    left: 0px;
}
#slider-image-2:target ~ .image-container{
    left: -800px;
}
#slider-image-3:target ~ .image-container{
    left: -1600px;
}
*/

/*
html { 
    background: url(https://res-console.cloudinary.com/ddzsxtjah/thumbnails/transform/v1/image/upload/ZV9ibHVyOjE2Mg==/v1609801036/TGVhZ3VlX29mX0xlZ2VuZHNfVE1fQ2xpZW50XzFfNF8yMDIxXzVfNDFfMDRfUE1fb28yazFp/template_primary) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    */
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left; */
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: -60px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'Raleway', sans-serif;
    font-size: 150px;
    padding: 0;
    line-height: 0px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(http://access.bgeraser.com:8889/results/QWOAsGxh.png) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(https://imgur.com/a/4TKGxxl);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(https://res.cloudinary.com/ddzsxtjah/image/upload/v1609879889/noah_me_driver_station_plcmu1.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(https://res.cloudinary.com/ddzsxtjah/image/upload/v1609879889/me_driving_at_driver_station_a4jh4x.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(https://res.cloudinary.com/ddzsxtjah/image/upload/v1609879889/robotics_photo_uybghg.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(https://res.cloudinary.com/ddzsxtjah/image/upload/v1609881345/jack_f3tmbg.jpg);
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}




.info{
    position: relative;
    display: flex;
    justify-content: center;
}
.info-text{
    width: 900px;
    border: 0px;
    border-width:5px;
    /*
    position: relative;
    /*left: 950px;
    bottom: 435px;
    */
    height: 300px;
    float: left;
    padding-left: 1250px;
    padding-top: 125px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-align: justify;

}
.info-inner-text-box{
    position: fixed;
    width: 500px;
    /* border: 1px solid #ccc;*/
    height: 700px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(211,211,211, .65);
    position: relative;
    text-align: justify;
}
.info-inner-text-box-photo{
    width: 200px;
    position: relative;
    border: 0px;
    border-radius: 300px;
    top: 0px;
    margin-top: 50px;
    margin-left: 150px;
    /*
    top: 200px;
    left: 1415px;*/
}
.info-inner-text-box-text{
    width: 458px;
    border: 0px;
    opacity: 1;
    position: relative;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 25px;
    color: black;
    line-height: 30px;
}
#photo_opacity{
    opacity: 1;
}
.info-inner-text-box-name{
    width: 450px;
    border: 0px;
    height: 50px;
    opacity: 1;
    position: relative;
    text-align: center;
    left: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 3px;
    margin-top: 50px;
}
#github-background{
    width: 32px;
    height: 30px;
    justify-content: center;
    border: 1px;
    border-radius: 10px;
    background-color: tan;
    position: relative;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    left: 150px;
}
.info-inner-text-box-links{
    width: 450px;
    position: relative;
    text-align: justify;
    justify-content: center;
    border: 1px;
    border-color: green;
    padding-top: 11px;
    padding-bottom: 0px;
}
#github-background:hover{
    background-color: rgb(210, 180, 140, 0.55);
}
#linkedin-image{
    width: 30px;
    height: 30px;
}
#linkedin-background{
    width: 30px;
    height: 30px;
    justify-content: center;
    border: 1px;
    border-radius: 10px;
    background-color: tan;
    position: relative;
    padding: 21px;
    padding-top: 30px;
    padding-bottom: 10px;
    left: 251px;
    top: -33.5px;
}

#linkedin-background:hover{
    background-color: rgb(210, 180, 140, 0.55);
}

.current-box{
    position: fixed;
    left: 45px;
    top: 533px;
    width: 500px;
    border: 0px;
    border-width:5px;
    /*
    position: relative;
    /*left: 950px;
    bottom: 435px;
    */
    height: 300px;
    float: left;
    padding-left: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-align: justify;

}
.current-grey{
    width: 500px;
    border: 1px solid rgb(211,211,211);
    height: 300px;
    border-radius: 5px;
    background-color: rgb(211,211,211, .65);
    position: relative;
    text-align: justify;
}
.current-title{
    width:450px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-top:20px;
    margin-left: 25px;
    line-height: 10px;
}
.current-text{
    width:440px;
    height:500px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: normal;
    margin-top: 0px;
    margin-left: 25px;
    line-height: 30px;
}
.current-lists{
    display: inline-block;
    float: left;
    position: relative;
    top: -55px;
}
.current-list{
    margin-left: 20px;
    margin-right: 0px;
    padding: 0;
    list-style: none;
}

.current-list li{
    float: left; 
    display: inline-block;
}
ul.current-list li:hover{
    background-color: rgb(211,211,211, 0);
}
ul.current-list li a{
    color: white;
}

#sbu-logo{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
#code-logo{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
#python-logo{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
#tv-icon{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
#music-icon{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

.java-logo{
    float: left;
    width: 44px;
    height: 15px;
    justify-content: center;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    position: relative;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 17px;
    font-size: small;
}
#java-image{
    width: 15px;
    height: 15px;
}
#java-text-raise{
    position: relative;
    color: #2491db;
    top: -19px;
    left: 18px;
}


.python-logo{
    float: left;
    width: 55px;
    height: 15px;
    justify-content: center;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    position: relative;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 34px;
    font-size: small;
}
#python-image{
    width: 15px;
    height: 15px;
}
#python-text-raise{
    position: relative;
    color: #2491db;
    top: -19px;
    left: 17px;
}


.html-logo{
    float: left;
    width: 44px;
    height: 15px;
    justify-content: center;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    position: relative;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 51px;
    font-size: small;
}
#html-image{
    width: 15px;
    height: 15px;
}
#html-text-raise{
    position: relative;
    color: #2491db;
    top: -19px;
    left: 17px;
}

.css-logo{
    float: left;
    width: 38px;
    height: 15px;
    justify-content: center;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    position: relative;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 68px;
    font-size: small;
}
#css-image{
    width: 15px;
    height: 15px;
}
#css-text-raise{
    position: relative;
    color: #2491db;
    top: -19px;
    left: 17px;
}


.assembly-logo{
    float: left;
    width: 65px;
    height: 15px;
    justify-content: center;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    position: relative;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 85px;
    font-size: small;
}
#assembly-image{
    width: 15px;
    height: 15px;
}
#assembly-text-raise{
    position: relative;
    color: #2491db;
    top: -19px;
    left: 17px;
}

.ocaml-logo{
    float: left;
    width: 50px;
    height: 15px;
    justify-content: center;
    border: 2px solid rgb(255, 123, 0);
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    position: relative;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 102px;
    font-size: small;
}
#ocaml-image{
    width: 15px;
    height: 15px;
}
#ocaml-text-raise{
    position: relative;
    color: #2491db;
    top: -19px;
    left: 17px;
}
/*
.github-background a:link{
    background-color: tan;
}
.github-background a:visited{
    background-color: green;
}
.github-background a:hover{
    background-color: green 0.5px;
}
.github-background a:hover{
    background-color: tan 0.5px;
}
*/

a{
    color: white;
    text-decoration: none;
}