<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8TYPFZ8K3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-H8TYPFZ8K3');
    </script>

    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div>
    <div class="nav-bar">
        <!--
        <h1 id="name"> Karan Yadav</h1>-->
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/coursework_experience">Coursework & Experience</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/resume">Résumé</a></li>
            </ul>
        </nav>
    </div>
</div>
<div>
    <ul class="cb-slideshow">
        <li>
            <span>Image 01</span>
            <div>
                <h3>P A S S I O N A T E</h3>
            </div>
        </li>
        <li>
            <span>Image 02</span>
            <div>
                <h3>D E T E R M I N E D</h3>
            </div>
        </li>
        <li>
            <span>Image 03</span>
            <div>
                <h3>I N N O V A T I V E</h3>
            </div>
        </li>
        <li>
            <span>Image 04</span>
            <div>
                <h3>A M B I T I O U S</h3>
            </div>
        </li>
        <li>
            <span>Image 05</span>
            <div>
                <h3>P E R S I S T E N T</h3>
            </div>
        </li>
        <li>
            <span>Image 06</span>
            <div>
                <h3>D E P E N D A B L E</h3>
            </div>
        </li>
    </ul>
</div>
<div class="info">
    <div class="gap">

    </div>
    <div class="info-text">
        <div class="info-inner-text-box">
            <div >
                <img class="info-inner-text-box-photo" id="photo_opacity" src="https://github.com/ksyadav01/image-holder/blob/main/images/profile%20picture.png?raw=true" alt="Picture of me">
            </div>
            <div class="info-inner-text-box-name">
                <strong>Karan Yadav</strong>
                <hr>
            </div>
            <div class="info-inner-text-box-text">
                I am currently a third-year student attending Stony Brook University studying Computer Science and Applied Mathematics and Statistics.
                Recently, I've been working on a revolutionary new event creating app called Ping, and you can read more about it here. At the moment
                I'm seeking a summer software engineering internship position. If you think I'm a good fit, feel free to 
                <a href="/contact">contact</a> me.
            </div>
            <div class="info-inner-text-box-links">
                <div class="github-background">
                    <a id="github-background" href="https://github.com/ksyadav01">
                        <img alt="Github Logo" src="https://github.com/ksyadav01/image-holder/blob/main/images/icons8-github-30.png?raw=true">
                    </a>
                </div>
                <div>
                    <a id="linkedin-background" href="https://www.linkedin.com/in/karansyadav/">
                        <img id="linkedin-image" alt="Linkedin Logo" src="https://github.com/ksyadav01/image-holder/blob/main/images/icons8-linkedin-30%20(1).png?raw=true">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="current-box">
        <div class="current-grey">
            <div class="current-title">
                Currently
                <hr>
            </div>
            <div class="current-text">
                <ul class="current-list">
                    <li class="current-list"> <img id="sbu-logo" alt="sbu-logo" src="https://res.cloudinary.com/ddzsxtjah/image/upload/v1609967671/imageedit_2_8319969599_fzbm0x.png" >
                        CS and AMS @ Stony Brook&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="current-list"> <img id="code-logo" alt= "coding icon" src="https://res.cloudinary.com/ddzsxtjah/image/upload/e_blackwhite/v1609967944/html_icon_qcbzib.png" >
                        Working on <a href="/projects">Ping</a>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li class="current-list"> <img id="python-logo" alt= "coding icon" src="https://img.icons8.com/ios/50/000000/python.png" >
                        Learning React Native 
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li class="current-list"> <img id="tv-icon" alt= "tv icon" src="https://img.icons8.com/metro/26/000000/retro-tv.png">
                        Watching <a href="https://www.amazon.com/Mr-Robot-Season-1/dp/B00YBX664Q">Mr. Robot</a>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li class="current-list"> <img id="music-icon" alt= "music icon"src="https://img.icons8.com/ios-glyphs/30/000000/audio-wave--v2.png">
                        Listening to <strong><em>{{song}}</em></strong> by <strong><em>{{artist}}</em></strong>
                    </li>
                </ul>
            </div>

        </div>
        <div class="current-lists" >
            <div class="java-logo">
                <img id="java-image" alt="Java Logo" src="https://img.icons8.com/color/50/000000/java-coffee-cup-logo.png">
                <div id="java-text-raise">java</div>
            </div>
            <div class="javascript-logo">
                <img id="javascript-image" alt="JavaScript Logo" src="https://img.icons8.com/ios/50/000000/javascript-logo.png">
                <div id="javascript-text-raise">javascript</div>
            </div>
            <div class="python-logo">
                <img id="python-image" alt="Python Logo" src="https://img.icons8.com/color/50/000000/python.png">
                <div id="python-text-raise">python</div>
            </div>
            <div class="html-logo">
                <img id="html-image" alt="HTML Logo" src="https://img.icons8.com/nolan/50/html.png">
                <div id="html-text-raise">html</div>
            </div>
            <div class="css-logo">
                <img id="css-image" alt="CSS Logo" src="https://img.icons8.com/small/50/000000/css.png">
                <div id="css-text-raise">css</div>
            </div>
            <div class="assembly-logo">
                <img id="assembly-image" alt="Assembly Logo" src="https://res.cloudinary.com/ddzsxtjah/image/upload/v1609974678/assembly_icon_jh4jyr.png">
                <div id="assembly-text-raise">assembly</div>
            </div>
        </div>
    </div>
    
    <div class="space">
    </div>
</div>
<div class="icon-link">
    Icons from <a href=https://icons8.com> Icons8</a>
</div>
<!--
<div class="slide-container">
    <span id="slider-image-1"></span>
    <span id="slider-image-2"></span>
    <span id="slider-image-3"></span>
    <div class="image-container">
        <img src="https://res-console.cloudinary.com/ddzsxtjah/thumbnails/transform/v1/image/upload/ZV9ibHVyOjE2Mg==/v1
        609801036/TGVhZ3VlX29mX0xlZ2VuZHNfVE1fQ2xpZW50XzFfNF8yMDIxXzVfNDFfMDRfUE1fb28yazFp/template_primary" class="slider-image">
        <img src="https://res-console.cloudinary.com/ddzsxtjah/thumbnails/transform/v1/image/upload/ZV9ibHVyOjE2Mg==/v1
        609801036/TGVhZ3VlX29mX0xlZ2VuZHNfVE1fQ2xpZW50XzFfNF8yMDIxXzVfNDFfMDRfUE1fb28yazFp/template_primary" class="slider-image">
        <img src="https://res-console.cloudinary.com/ddzsxtjah/thumbnails/transform/v1/image/upload/ZV9ibHVyOjE2Mg==/v1
        609801036/TGVhZ3VlX29mX0xlZ2VuZHNfVE1fQ2xpZW50XzFfNF8yMDIxXzVfNDFfMDRfUE1fb28yazFp/template_primary" class="slider-image">
    </div>
    <div class="button-container">
        <a href="#slider-image-1" class="slider-button"></a>
        <a href="#slider-image-2" class="slider-button"></a>
        <a href="#slider-image-3" class="slider-button"></a>
    </div>
    
</div>



</body>
</html>