<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/experience.css') }}">
    <meta charset="UTF-8">
    <title>Coursework/Experience</title>
</head>
<body>

<div>
    <div class="nav-bar">
        <!--
        <h1 id="name"> Karan Yadav</h1>-->
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/coursework_experience">Coursework & Experience</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/resume">Résumé</a></li>
            </ul>
        </nav>
    </div>
</div>
    
<div class="main-header">
    <h1>Coursework & Experience</h1>
</div>
<div class="main-box">
    <div class="content-box">
        <div class="left-box">
            <div class="relevant-coursework-box">
                <h3>Relevant Coursework</h3>
                <hr>
                <ul class="cse">
                    <li>CSE 214: Data Structures</li>
                    <li>CSE 215: Foundations of Computer Science (Data Structures)</li>
                    <li>CSE 216: Programming Abstractions</li>
                    <li>CSE 220: System Fundamentals 1</li>
                </ul>
                <ul class="ams">
                    <li>AMS 161: Applied Calculus 2</li>
                    <li>AMS 210: Applied Linear Algebra</li>
                    <li>AMS 310: Survey of Probability and Statistics</li>
                </ul>
                <ul class="languages">
                    <li>Languages: Java, Python, HTML, CSS, Assembly, OCaml</li>
                </ul>
            </div>
            <div class="future-coursework-box">
                <h3>Spring 2021 Coursework</h3>
                <hr>
                <ul class="cse">
                    <li>CSE 310: Computer Networks</li>
                    <li>CSE 316: Fundamentals of Software Development</li>
                    <li>TA: Teaching Assistant for CSE 220</li>
                </ul>
                <ul class="ams">
                    <li>AMS 261: Multivariable Calculus</li>
                    <li>AMS 301: Finite Mathematical Structures</li>
                </ul>
            </div>
        </div>

        <div class="right-box">
            <div class="experience-box">
                <h3>Work Experience</h3>
                <hr>
                <div class="gcom-box">
                    <h4>GCOM Software LLC</h4>
                    <div class="gcom">
                        <a href="https://www.gcomsoft.com/">CS Intern</a>
                        <br>
                        Mar 2018 - May 2018
                        <br><br>GCOM Software is a company specializing in developing software solutions to a customer's problems.
                         While at GCOM, I developed a softare that pulled raw employee data, parsed through said data, and emailed
                         employees when specific conditions were fulfilled. When I was at the job site, I attended business meetings 
                         with clients and learned gained experience with the non-programming aspects of a software engineering job. 
                         Both on and off site, I heavily researched data structures and databases and learned how to pull data from them.
                         From my time at GCOM, I also gained familiarity with database systems and maven repositories, including Spring 
                         Boot.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="icon-link">
    Icons from <a href=https://icons8.com> Icons8</a>
</div>

</body>
</html>