<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div>
    <div class="nav-bar">
        <!--
        <h1 id="name"> Karan Yadav</h1>-->
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/projects">Coursework/Experience</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/resume">Résumé</a></li>
            </ul>
        </nav>
    </div>
</div>
<div>
    <ul class="cb-slideshow">
        <li>
            <span>Image 01</span>
            <div>
                <h3>p.a.s.s.i.o.n</h3>
            </div>
        </li>
        <li>
            <span>Image 02</span>
            <div>
                <h3>A.U.T.I.S.M</h3>
            </div>
        </li>
        <li>
            <span>Image 03</span>
            <div>
                <h3>I.N.N.O.V.A.T.I.O.N</h3>
            </div>
        </li>
        <li>
            <span>Image 04</span>
            <div>
                <h3>robotics</h3>
            </div>
        </li>
        <li>
            <span>Image 05</span>
            <div>
                <h3>robotics</h3>
            </div>
        </li>
        <li>
            <span>Image 06</span>
            <div>
                <h3>D.U.M.B.A.S.S</h3>
            </div>
        </li>
    </ul>
</div>
<div class="info">
    <div class="info-text">
        <div class="info-inner-text-box">
            <div >
                <img class="info-inner-text-box-photo" id="photo_opacity" src="https://res.cloudinary.com/ddzsxtjah/image/upload/v1609889004/home_page_picture_zw1ykw.jpg" alt="Picture of me">
            </div>
            <div class="info-inner-text-box-name">
                Karan Yadav
                <hr>
            </div>
            <div class="info-inner-text-box-text">
                I am currently a second-year student attending Stony Brook University studying Computer Science and Applied Mathematics.
                Recently, I've been working on a stat visualiser for the popular MOBA League of Legends using primarily Python. At the moment
                I'm seeking a summer software engineering internship position. If you think I'm a good fit, feel free to 
                <a color: "white" href="/contact">contact</a> me.
            </div>
        </div>
    </div>
</div>
<!--
<div class="slide-container">
    <span id="slider-image-1"></span>
    <span id="slider-image-2"></span>
    <span id="slider-image-3"></span>
    <div class="image-container">
        <img src="https://res-console.cloudinary.com/ddzsxtjah/thumbnails/transform/v1/image/upload/ZV9ibHVyOjE2Mg==/v1
        609801036/TGVhZ3VlX29mX0xlZ2VuZHNfVE1fQ2xpZW50XzFfNF8yMDIxXzVfNDFfMDRfUE1fb28yazFp/template_primary" class="slider-image">
        <img src="https://res-console.cloudinary.com/ddzsxtjah/thumbnails/transform/v1/image/upload/ZV9ibHVyOjE2Mg==/v1
        609801036/TGVhZ3VlX29mX0xlZ2VuZHNfVE1fQ2xpZW50XzFfNF8yMDIxXzVfNDFfMDRfUE1fb28yazFp/template_primary" class="slider-image">
        <img src="https://res-console.cloudinary.com/ddzsxtjah/thumbnails/transform/v1/image/upload/ZV9ibHVyOjE2Mg==/v1
        609801036/TGVhZ3VlX29mX0xlZ2VuZHNfVE1fQ2xpZW50XzFfNF8yMDIxXzVfNDFfMDRfUE1fb28yazFp/template_primary" class="slider-image">
    </div>
    <div class="button-container">
        <a href="#slider-image-1" class="slider-button"></a>
        <a href="#slider-image-2" class="slider-button"></a>
        <a href="#slider-image-3" class="slider-button"></a>
    </div>
    
</div>
-->
<div>
</div>



</body>
</html>