{% extends "base.html" %}
{% block content %}
<h5>Your Overall Data</h5><a href="/individual_search/your_data">Your Data</a>
Get your overall data, comprising of rank, lp, and wr for specified gamemodes
<h5>Specific Champion Search</h5><a href="/individual_search/specific_champion_wr">Specific Champion Search</a>
Get winrates of specific champions in different queues in past 100 games, and your recent match history playing those respective champions
<h5>Duo Checker</h5><a href="/individual_search/duo_checker">Duo Checker</a>
Gets your winrates with another summoner in past 100 games for specified gamemodes
{% endblock %}
