<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/projects.css') }}">
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

<div>
    <div class="nav-bar">
        <!--
        <h1 id="name"> Karan Yadav</h1>-->
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/coursework_experience">Coursework/Experience</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/resume">Résumé</a></li>
            </ul>
        </nav>
    </div>
</div>
    
<div class="main-header">
    <h1>Projects</h1>
</div>
<div class="main-box">
    <div class="content-box">
        <div class="karangg-box">
            <div class="karangg-image">
                <img class="table" src="https://github.com/ksyadav01/image-holder/blob/main/images/adjusted%20karangg.png?raw=true" 
                    alt="sample picture from karangg">
            </div>
            <div class="karangg-image1">
                <img class="table1" src="https://github.com/ksyadav01/image-holder/blob/main/images/duo%20search%20karangg.png?raw=true">
            </div>
            <div class="karangg-text-box">
                <h2>KARAN.GG</h2>
                <hr>
                <br>
                KARAN.GG is a stat puller and analyzer powered by Python and Riot Games' API. Using the Riot API wrapper "Riot Watcher"
                , KARAN.GG pulls relevant match history, user champ statistics, and much more for each command, and presents a concise table
                of information to the user. Click <a href="/projects/karan.gg">here</a> for a full breakdown.
            </div>
        </div>
    </div>
</div>
<div class="icon-link">
    Icons from <a href=https://icons8.com> Icons8</a>
</div>